<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pc.nettols.example"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>
    <application android:label="@string/app_name">
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".GetActivity" android:label="@string/request_get" />
        <activity android:name=".PostActivity" android:label="@string/request_post" />
        <activity android:name=".BasicAuthActivity" android:label="@string/request_get_auth" />
        <activity android:name=".ImagesActivity" android:label="@string/lazy_list"/>
        <activity android:name=".DOMActivity" android:label="@string/dom" />
        <activity android:name=".SAXActivity" android:label="@string/sax"/>
        <activity android:name=".FileActivity" android:label="@string/file"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest> 
